<!DOCTYPE html>
<html lang="fi" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Oppio - Työpöytä</title>
    <link rel="icon" type="image/png" sizes="32x32" href="favicon.png">
    <meta http-equiv="Content-Type" content="txt/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="css/css.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container-fluid p-4 my-10 text-white" id="alku">
        <div class="row">
            <div th:insert="header.html :: navbar"></div>
        </div>
    </div>

    <div class="text-center pt-5 pd-5">
        <h2>Työpöytä</h2>
    </div>

    <div class="container p-2">
        <div class="card border-primary mt-5" style="width: 18rem;">
            <div class="card-body">
                <div>
                    <img th:src="@{/images/round-avatar.png}" id="käyttäjä" alt="userphoto" width="70px" height="70px">
                </div>
                <h2 th:text="${#authentication.getPrincipal().getUsername()}" style="text-align: center;color: #2A3990;padding-top: 10px;"></h2>
                <img th:src="@{/images/asetukset.png}" alt="asetukset" class="mx-auto d-flex my-2" width="30px" height="30px">
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Kirjaudu ulos" class="btn btn-secondary mx-auto d-flex" />
                </form>
            </div>
        </div>

        <div class="card border-primary mt-5" style="width: 30rem;">
            <div class="card-header d-flex justify-content-between">
                <div>
                    <p style="font-weight: bold;">
                        <script> document.write(new Date().toLocaleDateString());</script>
                    </p>
                </div>
                <div style="font-weight: bold;">Valintakokeeseen on <p id="demo"></p>
                </div>
            </div>
            <div class="card-body">
                <p class="card-text">Tämän päivän personoidut harjoitukset sisältävät tehtäviä seuraavista osioista:</p>
                <ul>
                    <li class="puna">Matemaattiset taidot</li>
                </ul>
                <a th:href="@{/harjoittele}" class="btn btn-secondary mt-3">Tee harjoitukset nyt</a>
            </div>
        </div>

        <div class="card border-primary mt-5" style="width: 18rem;">
            <div class="card-body">
                <h2 style="text-align:center; color:#2A3990; padding-top:10px; padding-bottom: 10px;"><img
                        th:src="@{/images/mitali.png}" alt="mitali" width="70px" height="55px">Suoritukset</h2>
                <span><b style="color:black">Oppimisputki </b>13<b style="color:black"> päivää</b></span><br>
                <span><b style="color:black">Oppimismerkit </b>2<b style="color:black"> /10</b></span>
            </div>
        </div>

        <div class="card border-primary mt-5" style="width: 36rem;">
            <div class="card-body">
                <h5 class="card-title p-1"><img th:src="@{/images/päät.png}" alt="vaaka" width="30px"
                        style="vertical-align:bottom;margin:0px 10px">Päätöksentekotaidot<img
                        th:src="@{/images/prog1.png}" id="palkki" alt="progress" width="200px" style="margin:5px 15px">
                </h5>
                <h5 class="card-title p-1"><img th:src="@{/images/mat.png}" alt="matikka" width="30px"
                        style="vertical-align:middle;margin:0px 10px">Matemaattiset taidot<img
                        th:src="@{/images/prog2.png}" id="palkki" alt="progress" width="200px" style="margin:5px 15px">
                </h5>
                <h5 class="card-title p-1"><img th:src="@{/images/suomi.png}" alt="suomi" width="30px"
                        style="vertical-align:bottom;margin:0px 10px">Suomen kieli<img th:src="@{/images/prog1.png}"
                        id="palkki" alt="progress" width="200px" style="margin:5px 15px"></h5>
                <h5 class="card-title p-1"><img th:src="@{/images/engl.png}" alt="englanti" width="30px"
                        style="vertical-align:middle;margin:0px 10px">Englannin kieli<img th:src="@{/images/prog2.png}"
                        id="palkki" alt="progress" width="200px" style="margin:5px 15px"></h5>
            </div>
        </div>

        <div class="card border-primary mt-5" style="width: 28rem;">
            <div class="card-body">
                <h2 style="text-align:center; color:#2A3990; padding-top:10px; padding-bottom: 20px;"><img
                        th:src="@{/images/koulutusalat.png}" alt="koulutusalat" width="70px" height="65px"
                        style="vertical-align:bottom;margin:0px 10px"> Valitut koulutusalat</h2>
                <ul>
                    <li class="puna" style="font-size: 1.5em;">Journalismi</li>
                    <li class="puna" style="font-size: 1.5em;">Liiketalous</li>
                </ul>
                <h5 style="text-align: center; padding-top: 20px; padding-bottom: 20px;">Hakuaika päättyy 30.3.2022.</h5>
                <a href="http://www.opintopolku.fi"><img th:src="@{/images/opintopolku.jpg}" id="käyttäjä"
                        class=img-fluid alt="Opintopolku-logo" width="200px"></a>
            </div>
        </div>

        <div class="card border-primary mt-5" style="max-width: 40rem;">
            <div class="card-body d-flex justify-content-between">
                <div><button onclick="teeHarjoituskoe()" type="submit" class="btn btn-secondary">Tee harjoituskoe nyt</button></div>
                <div>
                    <h5 class="card-title px-3">Edellisen suorituskerran pisteet:</h5>
                </div>
            </div>
            <div class="card-body">
                <p class="card-text">Voit tehdä täyspitkän harjoituskokeen niin monta kertaa kuin haluat.</p>
            </div>
        </div>

    </div>

    <div th:insert="footer.html :: footer"></div>

    <!-- Display the countdown timer in an element -->
    <!-- <p id="demo"></p> -->

    <script>
        // Set the date we're counting down to
        var countDownDate = new Date("May 31, 2022 15:37:25").getTime();

        // Update the count down every 1 second
        var x = setInterval(function () {

            // Get today's date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Display the result in the element with id="demo"
            document.getElementById("demo").innerHTML = days + " päivää.";

            // If the count down is finished, write some text
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("demo").innerHTML = "Oho se meni jo!";
            }
        }, 1000);
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        function teeHarjoituskoe() {
            alert("Harjoituskoe tulossa!");
        }
    </script>

    <script>
        function eiHakua() {
            alert("Hakutoiminto tulossa!");
        }
    </script>

    <script>
        function tilaaUutiskirje() {
            alert("Uutiskirje tilattu. (Ei oikeasti!)");
        }
    </script>
</body>

</html>