<!DOCTYPE html>
<html lang="fi" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login page</title>
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/images/favicon.png}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="txt/html; charset=UTF-8">
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="css/css.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container-fluid p-4 my-10 text-white" id="alku">
        <div class="row">
            <div th:insert="header.html :: navbar"></div>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="card text-center m-5" style="width: 23rem;">
            <div class="card-body">
                <h2 class="card-title fw-bold" style="color:#2A3990; padding-top:10px; padding-bottom: 10px;">Kirjaudu
                    sisään</h2>
                <p class="card-text">Jatka syöttämällä käyttäjätunnuksesi ja salasanasi.</p>
                <form th:action="@{login}" method="post">
                    <div class="col mt-2">
                        <input type="text" id="username" class="form-control" placeholder="Sähköposti" name="username">
                    </div>
                    <div class="col mt-2">
                        <input type="password" id="password" class="form-control" placeholder="Salasana"
                            name="password">
                        <input type="submit" class="btn btn-secondary mt-3" value="Kirjaudu" />
                    </div>
                </form>
                <a th:href="@{/signup}" type="button" class="btn btn-secondary mt-3">Ei tunnusta? Rekisteröidy tästä</a>
                <br><br>
                <a href="">
                    <p class="text-muted">Unohditko salasanasi?</p>
                </a>
            </div>
        </div>
    </div>

    <div th:insert="footer.html :: footer"></div>
</body>

</html>